.HeaderUser {
    position: absolute;
    width: 100%;
    display: flex;
    height: 56px;
    background-image: linear-gradient(101deg, #14b349 -98%, #09a04f 198%);
    align-items: center;
    padding: 0;
  }
  
  .logoTitle {
    margin-left: 40px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .logoTitle img {
    height: 100%;
  }
  
  .UserTitle {
    font-size: 18.8px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #ffffff;
  }
  
  .Upperbar {
    align-items: center;
    margin-left: 10%;
    display: flex;
  }
  .User-home {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffffde;
    margin-right: 45px;
    padding-bottom: 14px;
    margin-top: 16px;
    border-bottom: 3px solid #ffffffde;
  }
  .User-contacts {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffffde;
    margin-right: 45px;
  }
  .User-messages {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffffde;
    margin-right: 45px;
  }
  .User-scan {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffffde;
    margin-right: 45px;
  }
  .User-movement {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffffde;
    margin-right: 45px;
  }
  .User-notifications {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffffde;
    margin-right: 45px;
  }
  .User-menu {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffffde;
    margin-right: 45px;
  }
  .User-signout{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffffde;
    margin-right: 45px;
  }