.scroll {
    background-color: #f4f7f8;
  }
  
  .UserCard {
    margin: auto;
    margin-top: 65px;
    margin-bottom: 40px;
    height: 82%;
    width: 30%;
    border: 1px solid #1cb54f; 
  }

  .user_profile {
    width: 110px;
    height: 110px;
    margin-top: 9%;    
  }
  
  .more_options {
    position: absolute;
    top: 24%;
    left: 62%;
  }
  
  .User_Name_card {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }
  
  .profile_buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #ffffff;
  }

  .button_msg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;
    background-image: linear-gradient(to bottom, #14b349, #09a04f);
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 3px;
    margin-right: 4%;
  }
  
  .button_save {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;
    background-image: linear-gradient(to bottom, #14b349, #09a04f);
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 3px;
  }

  .User_toggle_options {
    display: flex;
    margin-top: 9px;
  }

  .activeNav{
    border-bottom: 3px solid #1cb54f;
  }
  
  .User_details {
    margin-left: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }
  
  .User_notes {
    margin-left: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }