.MainUser {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.Notes_Holder {
  margin-left: 15px;
  margin-top: 12px;
}

.Edit_Notes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Edit_Notes_title {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1cb54f;
}

.Notes_list {
  margin-top: 20px;
}

.notesPagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin-bottom: 10px;
}
.back {
width: 50px;
height: 30px;
background-color: #1cb54f ;
color: white;
border: 0;
border-radius: 3px;
}
.forward {
  width: 50px;
  height: 30px;
  background-color: #1cb54f ;
  color: white;
  border: 0;
  border-radius: 3px;
}
