.MainUser {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.Inspiration_text {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: flex-start;
}

.Inspiration_text p {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #152d4e;
}

.demo_text {
  margin-top: 13px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;
}

.Main_user_details {
  margin-top: 10px;
  margin-left: 15px;
}

.Main_user_details p {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9ea0a3;
}

.user_contact_content {
  margin-top: 10px;
  background-color: rgba(28, 181, 79, 0.1);
  position: relative;
  left: -15px;
  width: 104%;
}

.user_contact_content h4 {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1cb54f;
  padding: 5px 10px 5px 20px;
}

.Bussiness_Address_details {
  margin-top: 15px;
  margin-bottom: 10px;
}
.Bussiness_Address_details h5 {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
